@barStartColor: rgba(66, 118, 72, 1);
@barEndColor: rgb(36, 78, 32);
@pds-green: rgba(66, 118, 72, 1);
@pds-grey: #F9F9F9;
@pds-side-margin: 7px;

.navbar-inner {
    #gradient > .vertical(@barStartColor,@barEndColor);
    .brand {
        padding: 0px;
        img {
            height: 40px;
        }
    }
    .navbar-search {
        .search-query {
            border: 1px solid #999
        }
    }
    .divider-vertical{
        background-color: #999;
        border-right: 1px solid #777;
    }
}

#page {
    padding-top: 5em;
    min-height: 600px;
    background: url("../img/gradient.gif") repeat-x scroll 0 0 #73ADD7;

    .content-container {
        #gradient > .vertical(@barStartColor,@barEndColor);
        .border-radius(10px);
        margin-top: 20px;
        padding-bottom: 1px;
        margin-left: 0 - @pds-side-margin;
        width: 940px + 2*@pds-side-margin;
        .content-header {
            text-align: center;
            padding: 15px;
            color: white;
            font-size: 34px;
            font-weight: 900;

        }
        .content-body {
            margin: 10px @pds-side-margin @pds-side-margin 7px;
            background-color: @pds-grey;
            .border-radius(10px);
            text-align: left;
        }
    }
}

.top {
    padding-top: 70px;
}

.ajax-loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url(../img/ajax-loader.gif);
    visibility: hidden;
}

footer {
    text-align: center;
    padding-top: 20px;
    background-color: rgba(115, 173, 215, 1);
    .f1 {
        color: white;
        padding: 5px;
        #gradient > .vertical(@barStartColor,@barEndColor);

    }
    .f2 {
        padding: 10px;
        background-color: white;
    }
}