
@barStartColor:rgba(66,118,72,1);
@barEndColor:rgb(36,78,32);
@pds-green:rgba(66,118,72,1);
@pds-grey:#F9F9F9;

.navbar-inner{
    #gradient > .vertical(@barStartColor,@barEndColor);
}

#page {
    padding-top: 5em;
    background: url("../img/gradient.gif") repeat-x scroll 0 0 #73ADD7;

    .content-container{
        background-color: @pds-green;
        .border-radius(10px);
        margin-top: 20px;
        padding-bottom: 1px;
        .content-header{
            text-align: center;
            padding: 15px;
            color: white;
            font-size: 34px;
            font-weight: 900;

         }
        .content-body{
            margin: 10px 7px 7px 7px;
            background-color: @pds-grey;
            .border-radius(10px);
            text-align: left;
        }
    }
}



.top{
    padding-top: 70px;
}

.ajax-loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url(../img/ajax-loader.gif);
    visibility: hidden;
}

footer{
    text-align: center;
    padding-top: 20px;
    background-color: rgba(115,173,215,1);
    .f1{
        color: white;
        padding: 5px;
        #gradient > .vertical(@barStartColor,@barEndColor);

    }
    .f2{
        padding: 10px;
        background-color: white;
    }
}