.story{
    h1{
        text-align: center;
    }
    .show {
        .projector{

        }

        .meta {
            padding-top: 10px;

            li {
                display: inline-block;
                padding-right: 20px;
            }

            .info {

                .star-rating {
                    margin-bottom: -3px !important;
                    display: inline-block;
                }
                .rating-value {
                    margin-left: -20px !important;
                }
            }
            .tags {

            }
        }
    }
    .edit{

        #story_date_year{
            width: 65px;
        }

        #story_date_month,#story_date_day{
            width: 48px;
        }
    }
}






