.story {
    .show {
        .projector {
            padding: 20px 13px 0 13px;
            .carousel {
                .carousel-inner {
                    min-height: 500px;
                }
                .carousel-control {
                    left: -70px;
                    &.right {
                        left: auto;
                        right: -70px;
                    }
                }
            }
        }

        .meta {

            li {
                display: inline-block;
                padding-right: 20px;
            }
            #form_vote {
                display: none;
            }
            .info {
                margin-left: 120px;
                .star-rating {
                    height: 16px !important;
                    display: inline-block;
                }
                .rating-value {
                    margin-left: -20px !important;
                }
            }
            .tags {

            }
            .icon-star {
                height: 20px;
                margin-left: 86px;
                margin-bottom: -3px;
                display: none;
            }
        }

    }
    .edit {
        #story_date_year {
            width: 65px;
        }

        #story_date_month {
            width: 48px;
        }

        #story_date_day {
            width: 48px;
        }
        .pages-label{
            margin-top: 9px;
        }
        #story_Pages {
            list-style: none;
            width: 690px;
            margin: 0px;
            li{
                .border-radius();
                border: 1px solid @pds-green;
                margin-bottom: 10px;
            }
            .story-page-header {
                font-weight: 900;
                font-size: 200%;
                line-height: 28px;
                display: block;
                width: 100%;
                margin-left: 5px;
                &:hover {
                    text-decoration: none;
                }
            }
            .story-page-data {
                /*padding-top: 10px;*/
            }
            textarea {
                height: 250px;
                width: 680px;
                border:none;
                margin:0px;
                padding: 4px;
            }
        }
        .add-page{
            margin-right: 10px;
        }
        .meta{
            padding: 10px 0 10px 10px;
            margin-right: -10px;
        }
        .create-story{
            margin-left: 10px;
        }
    }

@import "main.less";
    .box-container {
        #gradient > .vertical(@barStartColor,@barEndColor);
        .border-radius();
        margin-top: 20px;
        .box-header {
            padding-top: 5px;
            color: white;
            font-size: 24px;
            font-weight: 900;
            text-align: center;
        }
        .box-body {
            margin: 10px 7px 7px 7px;
            background-color: @pds-grey;
            .border-radius();
        }
    }
    .short-list {
        padding: 3px;
        margin: 0;
        list-style: none;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        li {
            a {
                height: 24px;
                display: inline-block;
                width: 160px;
                overflow: hidden;
            }
        }
        .star-rating {
            padding-top: 2px;
            background: url(../img/star_rating.png) bottom left repeat-x;
            display: inline-block;
        }
    }
}






