{% extends '::base.html.twig' %}

{% block content %}

<div class="row">
    <div class="span4 offset4">

        <form action="{{ path("login_check") }}" method="post" class="well">
            {% if error %}
            <div class="alert alert-error">
                {{ error.message }}
            </div>
            {% endif %}
            <label>Login</label>
            <input type="text" name="username" class="span3" placeholder="username or e-mail"
                   value="{{ last_username }}">
            <label>Password</label>
            <input type="password" name="password" class="span3">

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
        {% endblock%}