{% block form_story_page  %}
{% spaceless %}
<li {{ block('widget_container_attributes') }}>

    <div href="#" class="story-page-header">
        <div class="page-number pull-left">
            {{ form.vars.name }}
        </div>
        <button class="btn btn-small pull-right page-delete"><i class="icon-remove"></i></button>
        <button class="btn btn-small pull-right page-down"><i class="icon-arrow-down"></i></button>
        <button class="btn btn-small pull-right page-up"><i class="icon-arrow-up"></i></button>
    </div>
    <div class="story-page-data">
        {% for child in form %}
        <div>
            {{ form_widget(child) }}
        </div>
        {% endfor %}
    </div>
</li>
{% endspaceless %}
{% endblock form_story_page %}
