
<ul class="short-list">
    {% for story in stories %}
    <li>
        <h3><a href="{{ path('story_show', { 'id': story.id }) }}">{{ story.getTitle() }}</a>
        <i class="star-rating" style="width:{{ 20 * story.getRating() }}px"></i>
        </h3>
        <a href="{{ path('story_teller', { 'id': story.getUser().getId() }) }}"><i class="icon-pencil"></i>{{ story.getUser() }}</a>
    </li>
    {% endfor %}
</ul>