<ul class="short-list">
    {% for story in stories %}
    <li>
    	<span><i class="star-rating" style="width:{{ 20 * story.getRating() }}px"></i></span>
        <a href="{{ path('story_show', { 'id': story.id }) }}">{{ story.getTitle() }}</a>        
    </li>
    {% endfor %}
</ul>