{% extends '::base.html.twig' %}

{% block stylesheets %}
{{parent()}}
{% endblock%}

{% block content %}
<div class="story">
    {% block story %}{% endblock %}
</div>
        {% endblock %}