{% extends 'PDSStoryBundle:Story:story.html.twig' %}
{% block story %}
<h1>By {{ teller }}</h1>
<div class="offset5">
    {% include 'PDSStoryBundle:Story:list.html.twig' with {'stories': stories} %}
</div>
        {% endblock %}