<div class="span10 offset1 comment">
    <div class="span7">{{ comment.getMessage() }}</div>
    <ul class="span2 nav nav-list">
        <li>
            <i class="icon-time"></i>{% if comment.createdat %}{{ comment.createdat|date('Y.m.d') }}{% endif%}
        </li>
        <li>
            <a href="{{ path('user_show', { 'id': comment.getUser().getId() }) }}"><i class="icon-pencil"></i>{{ comment.getUser() }}</a>
        </li>
    </ul>
</div>