<p>
    <b>Welcome to the story gallery.</b>
    <br>
    1. Select what you are interested in and
    <br>
    Click a location, a time, a topic...
    <br>
    2. Open a story that looks interesting
    <br>
    3. When you see the story, use arrows on left and right to move inside the story
    <br>
    4. Find more interesting stories
</p>